* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto" sans-serif;
}
/* loading */
.loading {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 6px solid white;
  border-radius: 100%;
  border-top-color: #ff9f46;
  animation: putar linear 1s infinite;
}
.asa img {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999999;
  bottom: 0;
  margin: auto;
}
.backg {
  width: 100%;
  position: fixed;
  height: 5000vh;
  z-index: 9;
  top: -100px;
  background-color: black;
}
@keyframes putar {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
/* loading */
body {
  background-color: black;
  font-family: "Roboto" sans-serif;
  margin: 0%;
  padding: 0%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.719),
      rgba(0, 0, 0, 0.781)
    ),
    url(img/6020105.jpg);
  background-position: center;
  background-size: contain;
  animation: bul linear 20s infinite;
}
nav {
  background-color: black;
  position: fixed;
  display: flex;
  z-index: 9999;
  top: -5px;
  align-items: center;
  width: 100%;
  height: 70px;
  list-style: none;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgb(175, 175, 175);
  background: linear-gradient(rgb(83, 40, 0), rgb(0, 4, 54));
  background-position: 40px;
}
@keyframes bul {
  0% {
    background-size: 1000px;
  }
  100% {
    background-size: 2000px;
  }
}
.logo {
  align-content: center;
  margin-left: 30px;
}
ul {
  display: flex;
  margin: 0%;
  padding-top: 10px;
}
ul a {
  color: #b4b4b4;
  padding-left: 8px;
  padding-right: 20px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
}
ul a:hover {
  color: rgb(255, 94, 0);
}
.extra-bar a {
  margin: 0 4px;
  font-size: 24px;
  color: #999;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  margin-right: 19px;
  display: none;
}
.menu-toggle input {
  position: absolute;
  width: 50px;
  height: 35px;
  opacity: 0;
  z-index: 2;
  left: -8px;
  top: -5px;
  cursor: pointer;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  transition: all 250ms;
}
/* on menu */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, 1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-3px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scaleX(0);
  opacity: 0;
}
/* ON MENU-------------------->>>>>> */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.picture {
  margin-right: 60px;
  display: none;
}
.bantuan {
  display: flex;
  margin-bottom: 100px;
  margin-right: 200px;
}
.bantuan {
  animation: animasidua alternate 2s ease infinite;
}
@keyframes animasidua {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(70px);
    transform: translateX(30px);
  }
}
.picture-dua-bitcoin {
  top: 120px;
  right: 430px;
  position: absolute;
  animation: freedua 1s alternate ease infinite;
}
.picture-dua-ether {
  top: 140px;
  right: 300px;
  position: absolute;
  animation: freedua 1s alternate ease infinite;
}
.picture-dua-usdt {
  top: 200px;
  right: 500px;
  position: absolute;
  animation: freedua 1s alternate ease infinite;
}
.picture-dua-bnb {
  top: 460px;
  position: absolute;
  right: 300px;
  animation: freedua 1s alternate ease infinite;
}
.picture-dua-busd {
  top: 455px;
  right: 390px;
  position: absolute;
  animation: freedua 1s alternate ease infinite;
}
.picture-dua-TRS {
  top: 400px;
  right: 200px;
  position: absolute;
  animation: freedua 1s alternate ease infinite;
}
.picture-dua-free {
  top: 250px;
  position: absolute;
  right: 200px;
  animation: freedua 1s alternate ease infinite;
}
@keyframes freedua {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(5px);
  }
}
.content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 145, 0);
}
.content p {
  padding: 10px 40px;
  color: #b4b4b4;
}
.content h4 {
  margin-bottom: -5px;
  margin-top: 100px;
}
.link {
  padding: 0px;
}
.link .satu {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
  color: #b4b4b4;
  border-radius: 5px;
  border: 1px solid #ff9f46;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 5px;
  text-decoration: none;
}
.link .satu:hover {
  background-color: transparent;
  color: #ff9f46;
}
.link .dua {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
  color: #b4b4b4;
  border-radius: 5px;
  border: 1px solid #ff9f46;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  margin-bottom: 130px;
  text-decoration: none;
}

.link a:hover {
  background: transparent;
  color: #000000;
}

.judul {
  margin-top: 60px;
  color: rgb(255, 145, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  font-variant: small-caps;
}
/* ON MENU DUA------------------------>>>>>>>>> */
.judul-dua {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
span {
  color: #b4b4b4;
}

.Project {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: -999;
}

.wallet {
  margin: 0;
  color: #b4b4b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variant: small-caps;
  border-radius: 10px;
}

.wallet h2 {
  padding: 3px;
  text-indent: 40px;
  color: #b4b4b4;
}

.wallet p {
  padding: 3px;
}

.defi {
  margin: 0px;
  color: #b4b4b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variant: small-caps;
  border-radius: 10px;
}

.defi h2 {
  padding: 3px;
  text-indent: 40px;
}

.defi p {
  padding: 3px;
}

.exchange {
  margin: 0x;
  color: #b4b4b4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-variant: small-caps;
  border-radius: 10px;
}

.exchange h2 {
  padding: 3px;
}

.exchange p {
  padding: 3px;
}

/* TOKENOMICS----------------------------------------- STAR */
.judul-tiga {
  margin-top: 100px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
span {
  color: rgb(167, 167, 167);
}

.tutup {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin-top: -30px;
}
.list-token {
  color: #b4b4b4;
  padding: 16px;
  margin-right: 16px;
}
.tombol-dua {
  display: flex;
  justify-content: center;
}
.tombol-dua a {
  text-decoration: none;
}
.tombol-dua i {
  font-size: 16px;
  margin-right: 10px;
  color: #ff9f46;
}
.tombol-dua i:hover {
  color: #b4b4b4;
}
.gam {
  animation: persen alternate 2s ease infinite;
}
@keyframes persen {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(20px);
  }
}

/* TOKENOMICS END */

/* fasility */
.judul-empat {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
.judul-empat span {
  color: rgb(201, 201, 201);
}

.card {
  margin-top: 25px;
}
.container-dua {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 0px;
  margin-top: 0px;
}
.card .card-body {
  background-color: black;
}
.card .card-text {
  color: #b4b4b4;
}
.card:hover {
  background-color: chocolate;
}
.card .card-body:hover {
  background-color: chocolate;
}
.back {
  position: absolute;
  z-index: -9999;
}
.back-dua {
  display: none;
}

.tombol {
  display: flex;
  justify-content: center;
}
.tombol a {
  text-decoration: none;
}
.tombol i {
  font-size: 16px;
  margin-right: 10px;
  color: #ff9f46;
}
.tombol i:hover {
  color: #b4b4b4;
}
/* fasility===========================================================> */

/* affiliate */
.judul-lima {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -0px;
}

.judul-tiga span {
  color: rgb(165, 165, 165);
}
.list-biz {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-biz img {
  border-radius: 100px;
  margin-top: -19px;
}
.biz-biz {
  padding: 10px 10px;
  color: rgb(184, 184, 184);
  border-radius: 10px;
  width: 70%;
}
.biz-biz h3::after {
  content: "Company";
  font-size: small;
  margin-left: 10px;
  color: rgb(255, 145, 0);
}
.tombol-tiga {
  display: flex;
  justify-content: center;
}
.tombol-tiga a {
  text-decoration: none;
}
.tombol-tiga i {
  font-size: 16px;
  color: #ff9f46;
  margin-right: 10px;
}
.tombol-tiga i:hover {
  color: #b4b4b4;
}

/* fopoter */
.footer-ev {
  background: linear-gradient(rgb(83, 40, 0), rgb(0, 4, 54));
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: 1px solid rgba(175, 175, 175, 0.712);
  padding: 10px;
  flex-wrap: wrap-reverse;
  cursor: pointer;
}
.info {
  color: white;
}
.content-fo {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}
.content-fo a {
  text-decoration: none;
  color: #ffffff;
}
.addres {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}
.addres a {
  color: white;
  text-decoration: none;
}

.form-label {
  color: #ffffff;
}
.subs a {
  text-decoration: none;
  color: white;
}
.subs {
  margin-top: 5px;
}
.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  background: linear-gradient(rgb(0, 4, 54), rgb(0, 4, 54));
}
.rrp {
  display: flex;
  color: #b4b4b4;
  padding: 20px;
}
.rrp a {
  text-decoration: none;
  color: rgb(255, 145, 0);
}
.rrp a:hover {
  color: #ff9f46;
}
.rrp p:hover {
  color: #ff9f46;
  cursor: pointer;
}
.crp {
  display: flex;
  color: white;
  padding: 20px;
}
.crp a {
  margin-left: 10px;
  text-decoration: none;
  color: #b4b4b4;
}
.crp a:hover {
  color: #ff9f46;
  cursor: pointer;
}

/* fopoter */

/* RESPONSIVE BREAKPOINT ----------------------------------------->*/

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    top: -9900%;
    right: 0%;
    background: linear-gradient(rgb(83, 40, 0), rgb(5, 0, 54));
    transition: all 1s;
    border-radius: 5px;
    opacity: 0;
    width: 100%;
  }

  nav ul.slide {
    transform: translateX(0%);
    top: 0%;
    opacity: 1;
  }
  .logo {
    font-size: 20px;
  }
  /* menu on */
  .menu-toggle {
    display: flex;
    font-size: large;
  }
  .bantuan {
    display: none;
  }
  /* menu on */

  /* section 1 */
  .container {
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
  }
  .bantuan {
    display: none;
  }
  .judul {
    margin-top: 150px;
  }
  .picture-tiga {
    display: none;
  }
  .picture {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -99999;
    width: 90%;
    right: 0px;
    top: 160px;
  }
  .picture img {
    animation: animasisatu 2s ease alternate infinite;
  }
  @keyframes animasisatu {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(20px);
      transform: translateX(30px);
    }
  }
  .content {
    width: 70%;
  }
  .content p {
    color: white;
  }
  .link .satu {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ff9f46;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 5px;
    text-decoration: none;
  }
  .link {
    z-index: 99999;
  }
  .link .satu:hover {
    background-color: transparent;
    color: #ff9f46;
  }
  .link .dua {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ff9f46;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 130px;
    text-decoration: none;
  }

  .link a:hover {
    background: transparent;
    color: #000000;
  }

  /* SECTION DUA----------------------->>>> */
  .Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .exchange h2 {
    margin-left: -10px;
  }
}
/* HANDPHONE =======================> */
@media (max-width: 600px) {
  .container p {
    display: flex;
  }

  .content p {
    margin: 8px 0px 0;
    padding: 0 5px;
  }

  .wallet p {
    width: 60%;
  }
  .wallet h2 {
    width: 60%;
  }
  .defi p {
    width: 60%;
  }
  .defi h2 {
    width: 60%;
  }
  .exchange p {
    width: 60%;
    margin-bottom: 8px;
  }
  .exchange h2 {
    width: 60%;
    margin-top: 8px;
  }
  /* tokenomics */
  .judul-tiga {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .menu-toggle span {
    z-index: 9999;
  }
  .menu-toggle input {
    z-index: 99999;
  }
  .token {
    border: 1px solid white;
  }
  /* TOKENOMICS */
  .awal {
    display: flex;
    padding: 0 30px;
  }
  .picture-dua-bitcoin {
    top: 120px;
    right: 230px;
    position: absolute;
    animation: freedua 1s alternate ease infinite;
  }
  .picture-dua-ether {
    top: 100px;
    right: 150px;
    position: absolute;
    animation: freedua 1s alternate ease infinite;
  }
  .picture-dua-usdt {
    top: 200px;
    right: 290px;
    position: absolute;
    animation: freedua 1s alternate ease infinite;
  }
  .picture-dua-bnb {
    top: 360px;
    position: absolute;
    right: 240px;
    animation: freedua 1s alternate ease infinite;
  }
  .picture-dua-busd {
    top: 355px;
    right: 160px;
    position: absolute;
    animation: freedua 1s alternate ease infinite;
  }
  .picture-dua-TRS {
    top: 300px;
    right: 90px;
    position: absolute;
    animation: freedua 1s alternate ease infinite;
  }
  .picture-dua-free {
    top: 190px;
    position: absolute;
    right: 40px;
    animation: freedua 1s alternate ease infinite;
  }
  @keyframes freedua {
    0% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(5px);
    }
  }
  @keyframes freedom {
    from {
      rotate: -20deg;
    }
    to {
      rotate: 20deg;
    }
  }
  .judul-lima {
    margin-bottom: 40px;
  }
}
