* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  font-family: "Tektur" sans-serif;
  text-transform: capitalize;
}
/* loading */
.loading {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 6px solid white;
  border-radius: 100%;
  border-top-color: #ff9f46;
  animation: putar linear 1s infinite;
}
.asa img {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999999;
  bottom: 0;
  margin: auto;
}
.backg {
  width: 100%;
  position: fixed;
  height: 5000vh;
  z-index: 9999;
  top: -100px;
  background-color: black;
}
@keyframes putar {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
/* loading */
body {
  background-color: black;
  font-family: "tektur" sans-serif;
  margin: 0%;
  padding: 0%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.718),
      rgba(0, 0, 0, 0.757)
    ),
    url(img/6020105.jpg);
  background-position: center;
  background-size: contain;
  animation: bul linear 20s infinite;
  overflow-x: hidden;
}
nav {
  background-color: black;
  display: flex;
  z-index: 9999;
  top: -5px;
  align-items: center;
  width: 100%;
  height: 70px;
  list-style: none;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgb(255, 252, 252);
  background: linear-gradient(rgba(185, 91, 3, 0.775), rgba(0, 5, 77, 0.725));
}
@keyframes bul {
  0% {
    background-size: 1000px;
  }
  100% {
    background-size: 2000px;
  }
}
.logo {
  align-content: center;
  margin-left: 30px;
}
ul {
  display: flex;
  margin: 0%;
  padding-top: 10px;
}
ul a {
  color: #ffffff;
  padding-left: 8px;
  padding-right: 20px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
}
ul a:hover {
  color: rgb(255, 94, 0);
}
ul li .active {
  color: #ff9f46;
}
.extra-bar a {
  margin: 0 4px;
  font-size: 24px;
  color: #ffffff;
}
.extra-bar a:hover {
  color: #ff9f46;
}
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  margin-right: 19px;
  display: none;
}
.menu-toggle input {
  position: absolute;
  width: 50px;
  height: 35px;
  opacity: 0;
  z-index: 2;
  left: -8px;
  top: -5px;
  cursor: pointer;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  transition: all 250ms;
}
/* on menu */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, 1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-3px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scaleX(0);
  opacity: 0;
}
/* ON MENU-------------------->>>>>> */
.container-front {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}
.picture {
  margin-right: 60px;
  display: none;
}
.bantuan {
  display: flex;
  margin-bottom: 50px;
  margin-right: 0px;
}
.bantuan {
  animation: animasidua alternate 2s ease infinite;
}
@keyframes animasidua {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}

.content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 145, 0);
}
.content p {
  padding: 10px 40px;
  color: #ffffff;
}
.content h4 {
  margin-bottom: -5px;
  margin-top: 100px;
}
.link {
  padding: 0px;
}
.link .satu {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff9f46;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 5px;
  text-decoration: none;
}
.link .satu:hover {
  background-color: transparent;
  color: #ff9f46;
}
.link .dua {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ff9f46;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  margin-bottom: 130px;
  text-decoration: none;
}

.link a:hover {
  background: transparent;
  color: #000000;
}

.judul {
  margin-top: 60px;
  color: rgb(255, 145, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  font-variant: small-caps;
}
/* ON MENU DUA------------------------>>>>>>>>> */
.judul-dua {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
span {
  color: #ffffff;
}

.Project {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: -999;
  text-transform: capitalize;
}

.wallet {
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  border-radius: 10px;
}

.wallet h2 {
  padding: 3px;
  text-indent: 40px;
  color: #ffffff;
}

.wallet p {
  padding: 3px;
}

.defi {
  margin: 0px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.defi h2 {
  padding: 3px;
  text-indent: 40px;
}

.defi p {
  padding: 3px;
}

.exchange {
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.exchange h2 {
  padding: 3px;
}

.exchange p {
  padding: 3px;
}
.wallet img {
  animation: wallet 2s infinite ease-in-out alternate;
}
@keyframes wallet {
  0% {
    transform: scaleX(85%);
  }
  100% {
    transform: scaleX(100%);
  }
}
.exchange img {
  animation: ex 2s infinite ease-in-out alternate;
}
@keyframes ex {
  0% {
    transform: scale(85%);
  }
  100% {
    transform: scale(100%);
  }
}
.defi img {
  animation: df 2s infinite ease-in-out alternate;
}
@keyframes df {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* TOKENOMICS----------------------------------------- STAR */
.judul-tiga {
  margin-top: 100px;
  color: rgb(255, 145, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -50px;
}
span {
  color: rgb(255, 255, 255);
}
.tombol-dua {
  display: flex;
  justify-content: center;
}
.tombol-dua a {
  text-decoration: none;
}
.tombol-dua i {
  font-size: 16px;
  margin-right: 10px;
  color: #ff9f46;
}
.tombol-dua i:hover {
  color: #ffffff;
}

/* progres bar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 100px;
  overflow: hidden;
  background: #00000012;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}

.box {
  position: relative;
  width: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000, #000000);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 20px rgba(0, 0, 0, 0.1), 50px 50px 50px rgba(0, 0, 0, 0.1),
    inset 3px 3px 2px #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 120px;
  height: 120px;
}

.box .content .percent::before {
  content: attr(data-text);
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
}

.box .content .percent svg {
  position: relative;
  margin-top: -66px;
  margin-left: -26px;
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 10%;
  height: 10%;
  fill: transparent;
  stroke-width: 10;
  stroke: rgba(255, 0, 0, 0.05);
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: #ff6600;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 8.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 10px;
  z-index: 10;
  animation: animateDot 8.9s linear forwards infinite alternate;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(4.9deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #ff6200;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 8.5s;
}

.box .content .number h2 {
  font-size: 1rem;
  color: #ffffff;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1rem;
}

/* progres bar */

/* TOKENOMICS END */

/* fasility */
.judul-empat {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.judul-empat span {
  color: rgb(255, 255, 255);
}

.card {
  margin-top: 25px;
}
.container-dua {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0 0px;
  margin-top: 0px;
}
.card .card-body {
  background-color: black;
}
.card .card-text {
  color: #ffffff;
}
.card:hover {
  background-color: chocolate;
}
.card .card-body:hover {
  background-color: chocolate;
}
.back {
  position: absolute;
  z-index: -9999;
}
.back-dua {
  display: none;
}

.tombol {
  display: flex;
  justify-content: center;
}
.tombol a {
  text-decoration: none;
}
.tombol i {
  font-size: 16px;
  margin-right: 10px;
  color: #ff9f46;
}
.tombol i:hover {
  color: #b4b4b4;
}
/* fasility===========================================================> */

/* affiliate */
.judul-lima {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -0px;
}

.judul-tiga span {
  color: rgb(255, 255, 255);
}
.list-biz {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-biz img {
  border-radius: 100px;
  margin-top: -19px;
}
.biz-biz {
  padding: 10px 10px;
  color: rgb(184, 184, 184);
  border-radius: 10px;
  width: 70%;
}
.biz-biz h3::after {
  content: "Company";
  font-size: small;
  margin-left: 10px;
  color: rgb(255, 145, 0);
}
.tombol-tiga {
  display: flex;
  justify-content: center;
}
.tombol-tiga a {
  text-decoration: none;
}
.tombol-tiga i {
  font-size: 16px;
  color: #ff9f46;
  margin-right: 10px;
}
.tombol-tiga i:hover {
  color: #ffffff;
}

/* fopoter */
.footer-ev {
  background: linear-gradient(rgba(185, 91, 3, 0.775), rgba(0, 4, 54, 0.782));
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-top: 1px solid rgba(175, 175, 175, 0.712);
  padding: 10px;
  flex-wrap: wrap-reverse;
  cursor: pointer;
}
.info {
  color: white;
}
.content-fo {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;
}
.content-fo a {
  text-decoration: none;
  color: #ffffff;
}
.addres {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;
}
.addres a {
  color: white;
  text-decoration: none;
  width: 100%;
  flex-wrap: wrap;
}

.form-label {
  color: #ffffff;
}
.subs a {
  text-decoration: none;
  color: white;
}
.subs {
  margin-top: 5px;
}
.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  background: linear-gradient(rgba(0, 4, 54, 0.782), rgba(0, 4, 54, 0.808));
}
.rrp {
  display: flex;
  color: #b4b4b4;
  padding: 20px;
}
.rrp a {
  text-decoration: none;
  color: rgb(255, 145, 0);
}
.rrp a:hover {
  color: #ff9f46;
}
.rrp p:hover {
  color: #ff9f46;
  cursor: pointer;
}
.crp {
  display: flex;
  color: white;
  padding: 20px;
}
.crp a {
  margin-left: 10px;
  text-decoration: none;
  color: #b4b4b4;
}
.crp a:hover {
  color: #ff9f46;
  cursor: pointer;
}

/* fopoter */

/* project tambahan */
.judul-empat-2 {
  margin-top: 200px;
  color: rgb(255, 145, 0);
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -45px;
}
.atap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.fif-conten {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
.fif {
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 50%;
  animation: fusa 1.7s ease infinite alternate;
}
@keyframes fusa {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20px);
  }
}
.fif img {
  width: 100%;
}
/* project tambahan */

/* RESPONSIVE BREAKPOINT ----------------------------------------->*/

@media (max-width: 768px) {
  nav ul {
    position: absolute;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: -100%;
    right: 0%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.796),
        rgba(0, 0, 0, 0.658)
      ),
      url(img/cryptocurrency-coding-digital-black-background-open-source-blockchain-concept.jpg);
    background-position: center top;
    background-size: cover;
    transition: all 1s;
    border-radius: 5px;
    opacity: 0;
    width: 100%;
  }

  nav ul.slide {
    transform: translateX(0%);
    top: -10%;
    opacity: 1;
  }

  .menu-toggle {
    display: inline-flex;
    z-index: 999;
  }
  .logo {
    font-size: 20px;
  }
  /* menu on */
  .menu-toggle {
    display: flex;
    font-size: large;
  }
  .bantuan {
    display: flex;
    margin-top: 50px;
    margin-bottom: -50px;
  }
  /* menu on */

  /* section 1 */
  .container-front {
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
  }

  .judul {
    margin-top: -200px;
  }
  .picture-tiga {
    display: none;
  }
  .picture {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: -99999;
    width: 90%;
    right: 0px;
    top: 100px;
  }
  .picture img {
    animation: animasisatu 2s ease alternate infinite;
  }
  @keyframes animasisatu {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(20px);
      transform: translateX(30px);
    }
  }
  .content {
    width: 70%;
  }
  .content p {
    color: white;
  }
  .link .satu {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ff9f46;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 5px;
    text-decoration: none;
  }
  .link {
    z-index: 99999;
  }
  .link .satu:hover {
    background-color: transparent;
    color: #ff9f46;
  }
  .link .dua {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(rgb(255, 136, 0), rgb(0, 0, 0));
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ff9f46;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 130px;
    text-decoration: none;
  }

  .link a:hover {
    background: transparent;
    color: #000000;
  }

  /* SECTION DUA----------------------->>>> */
  .Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .exchange h2 {
    margin-left: -10px;
  }
}
/* HANDPHONE =======================> */
@media (max-width: 600px) {
  .container p {
    display: flex;
  }

  .content p {
    margin: 8px 0px 0;
    padding: 0 5px;
  }

  .wallet p {
    width: 60%;
  }
  .wallet h2 {
    width: 60%;
  }
  .defi p {
    width: 60%;
  }
  .defi h2 {
    width: 60%;
  }
  .exchange p {
    width: 60%;
    margin-bottom: 8px;
  }
  .exchange h2 {
    width: 60%;
    margin-top: 8px;
  }
  /* tokenomics */
  .judul-tiga {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  /* TOKENOMICS */
  .awal {
    display: flex;
    padding: 0 30px;
  }

  @keyframes freedua {
    0% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(5px);
    }
  }
  @keyframes freedom {
    from {
      rotate: -20deg;
    }
    to {
      rotate: 20deg;
    }
  }
  .judul-lima {
    margin-bottom: 40px;
  }
}
.fly-moon {
  display: inline-flex;
  position: relative;
  bottom: -350px;
  left: 230px;
  animation: fly ease-in-out infinite 2s alternate;
}
@keyframes fly {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(8px);
    transform: translateX(-9px);
  }
}
.addres {
  padding-right: 0;
}
